[2019-01-09 11:35] mikberg commented on #281
@clanstyles I don't have anything that's not very specific to my use case, but apart from returning the struct like above, it's a normal Bazel rule which creates some `.d.ts` file and some `.js` files.

Look at [this example rule](https://github.com/bazelbuild/examples/blob/master/rules/actions_run/execute.bzl), for instance, which has a `ctx.actions.run()` call creating an output file `ctx.output

[2019-01-11 17:29] alexeagle opened #381 "Worker mode holds bad state for missing dependency"
Thanks to @petebacondarwin for isolating this bug.

Create a vanilla TS project containing:

`/BUILD.bazel`
[code]

`thing.ts`
[code]

`package.json`
[code]

Then build:

[code]

So far this is WAI because the needed deps are commented out. So uncomment them, which should make the build succeed. However, it still does this:

[code]

But if you make no changes and immediately re-build without using

[2019-01-11 21:57] alexeagle commented on #381
I confirmed that commenting out the programCache, by setting oldProgram to `undefined` rather than this value
https://github.com/bazelbuild/rules_typescript/blob/4a087c084cab78e610f91764db52e705aefa1814/internal/tsc_wrapped/tsc_wrapped.ts#L201

causes the issue to no longer be reproducible

[2019-01-14 14:06] mattem opened #382 "Provide access to Typescript Transformer API"
# 🚀 feature request

### Relevant Rules

`ts_library`

### Description
We'd like to access the Typescript transformer API from the `ts_library` rule, with the ability to 'plugin' custom transformers.

Currently we have our own wrapped TSC, which adds in our transformer pipelines and is then invoked on the code that requires it.

### Describe the solution you'd like
`java_library` and `java_binary`

[2019-01-14 19:29] mgechev opened #383 "Setup golint in CI"
# 🚀 feature request

### Description

We have a lot of go code. To ensure consistency and make sure that the PRs here align with the internal code standards as closely as possible we should introduce golint.

### Describe the solution you'd like

Run golint in buildkite & CircleCI

[2019-01-15 01:16] alexeagle commented on #382
I have approx. this thing landing for Angular to plugin the new Ivy compiler `ngtsc` as a transformer plugin. Additionally a plugin can contribute program diagnostics (by proxying the `ts.Program` like a LanguageService plugin does) and can contribute files to the root program (by proxying the `ts.CompilerHost`)

In the first pass we're adding this specifically for the Angular compiler, then when

[2019-01-23 06:08] dayfine commented on #323
mark as fixed?

[2019-01-25 03:34] alexeagle commented on #381
This is not reproducible in google3. This is because the google3 generated tsconfig lists all files that were in the `deps` so the `options` passed to `ts.createProgram` are different. This discards the oldProgram so typescript tries again.

Under Bazel, though, we filter out fine-grained npm `deps` from being passed to the underlying implementation:
https://github.com/bazelbuild/rules_typescript/

[2019-01-29 17:09] pierreis opened #389 "Module resolution failing at runtime with module_name"
# 🐞 bug report

### Affected Rule

 The issue is caused by the rule: **ts_library**

### Is this a regression?

 Not sure

### Description

`module_path` prevents cross-module imports at runtime, although compilation works.

## 🔬 Minimal Reproduction

Project organization is:

[code]

`BUILD.bazel` contains:

[code]

From the test files, I am trying to import the test files as `import { foo } from

[2019-01-29 22:15] pierreis commented on #366
I believe what you could do is to write a Bazel macro that takes dependencies as parameters, and based on these dependencies:

- instantiates the `ts_library` rule
- populates the `replacements` parameters of `npm_package` accordingly, so that a placeholder in your `package.json` is replaced by the actual dependencies.

[2019-01-29 22:18] gregmagolan opened #390 "ts_library output for .ts file without any imports or exports is not named-UMD"
tsc doesn't consider such a file a module so it just outputs a plain .js file. For example, a simple spec file such as with no imports and no exports:

[code]

fails when used with the ts_web_test rule which expects named-UMD inputs:

[code]

with the error:

[code]

Not sure what the expected behavior should be. Either force the output to be a named-UMD or refuse to compile.

//cc @alexeagle @vik

[2019-01-31 20:43] JaredNeil opened #396 "googmodules example fails to compile prodmode with worker"
# 🐞 bug report

### Affected Rule

 The issue is caused by the rule: ts_library

### Is this a regression?

 Yes.

### Description

The prodmode compile of the googlemodules example fails while trying to write `.externs.js` when run in a worker.

## 🔬 Minimal Reproduction

1. Checkout the latest release (https://github.com/bazelbuild/rules_typescript/releases/tag/0.22.1)
2. Run `bazel build //exam

[2019-02-01 07:07] jmsdncn opened #397 "Fine-grained dependencies not passed through to rollup_bundle()"
# 🐞 bug report

### Affected Rule

`ts_library()` possibly?  In my reproduction, it is the only `bazelbuild/rules_typescript` rule being used.

### Is this a regression?

I have only checked this behavior with v0.22.1.

### Description

When using `rollup_bundle()` (from `bazelbuild/rules_nodejs`) on the output of a `ts_library()` rule, I need to either re-specify the (full, transitive) set of fin

[2019-02-01 15:42] qzmfranklin commented on #342
Any updates on this?

With version `0.22.1`, I still got errors like this:
[code]

I thought it was already fixed by #378. Just want to raise this here to draw awareness.

[2019-02-01 19:55] #342 closed

[2019-02-01 22:04] gregmagolan opened #400 "ts_auto_deps will traverse up node_modules directory when -recursive is used"
A few solutions I can think of with increasing complexity:

* ignore the `node_modules` directory as a special case
* accept an argument for folder to whitelist or blacklist
* parse `.tsautodepsignore` files to determine which folders to blacklist

[2019-02-08 10:33] devversion opened #409 "devserver: asset injection of source files outside of current package not working"
# 🐞 bug report

### Affected Rule

`ts_devserver`.

Seems to be Windows only. Something we need to fix after the windows fixes have
been merged.

### Is this a regression?

Nope. This never seemed to work since the asset inlining has been introduced. It just works on non-windows due to the side-effect that `rules_go` also tries to resolve runfiles relatively to the working directory (for Bazel act

[2019-02-13 17:28] alexeagle commented on #344
Hi, I haven't been paying attention to this thread, but I'm interested to know if we could have Closure interop by making some simple changes? In the past it has seemed like a large-scope project and we haven't had time/priority to take it on. @LStAmour or @ribrdb do you want to take the lead on it?

[2019-02-13 18:54] alexeagle commented on #344
note that the OP was a specific bug, we're working on fixing it in #398

I changed the title since this thread has become broader than the bug

[2019-02-13 19:09] ribrdb commented on #344
I think it should be pretty small at this point, and I'd be happy to take the lead on it.
Right now I think the main problem is getting the externs generation to work. If you turn on tsickle and try to build the .closure.js files it fails because both the skylark code and tsickle try to generate the .externs.js file.

[2019-02-15 13:05] qzmfranklin commented on #333
This is already tracked by [this issue](https://github.com/Microsoft/TypeScript/issues/9358).

[2019-02-16 00:11] solomatov opened #421 "Where's rollup_bundle?"
rollup_bundle rule disappeared. I can't find it. I used to import it from :defs.bzl and it worked. In the latest release it doesn't anymore.

[2019-02-16 00:25] solomatov commented on #421
I found it. It's in the node repo. It would be nice if you mentioned this migration in release notes and also updated examples which AFAIU, don't compile.

[2019-02-16 00:25] #421 closed

[2019-02-16 01:38] solomatov commented on #103
Are there any updates on this? I want to use libraries, and it's hard to find how to do it correctly.

[2019-02-16 03:17] qzmfranklin opened #422 "What's up with the recent renaming of the workspaces?"
I am trying to upgrade to 0.25. Everything was fine (despite minor hiccups)  until I found that the workspace names are changed as of https://github.com/bazelbuild/rules_typescript/pull/412.

I have tried to find more information about this renaming. I am very interested in learning the rationale behind such a change. It seems, ..., mysterious at the moment to me.

[2019-02-19 21:50] alexeagle commented on #422
Sorry, we ought to have made the conversation about this public. We are now using a generic method for any npm package to ship bazel rules, including third parties. We don't want to namespace all the rules in this first-party way (with bazel.build in the name) because it makes it harder for an ecosystem of third-party rules to grow up.

For example we just introduced an `@bazel/jasmine` package in

[2019-02-19 21:50] #422 closed

[2019-02-19 23:22] #409 closed

[2019-02-21 17:18] alexeagle commented on #397
Yeah in many cases the values and types come from two different labels, so it's expected to have
`ts_library(deps = ["@npm//@types/foo"])`
`rollup_bundle(deps = ["@npm//foo"])`

but in cases where types and values are together in one label I agree that ts_library should propagate these in the "data" providers so rollup_bundle finds them

[2019-02-22 16:45] alexeagle commented on #383
Since this repo is piper source-of-truth, I'm concerned about setting up any tooling that disagrees with what google-internal does. I think the only benefit of linting on github is to help contributors get a PR that we don't need to fixup when we sync

[2019-02-22 16:46] alexeagle commented on #353
Was done and released :balloon:

[2019-02-22 16:46] #353 closed

[2019-02-22 16:48] alexeagle commented on #341
I think this doesn't matter anymore now that we ship pre-compiled Go binaries. Building rules_typescript from source should be an unusual edge case now

[2019-02-22 16:48] #341 closed

[2019-02-22 16:49] alexeagle commented on #360
Note, I did this locally in the angular repo in the tools/defaults.bzl, so the urgency is low

[2019-02-22 16:49] alexeagle commented on #333
thanks @qzmfranklin

[2019-02-22 16:49] #333 closed

[2019-02-22 16:58] alexeagle commented on #6
#344 has more recent discussion so let's continue there

[2019-02-22 16:58] #6 closed

[2019-02-22 17:02] alexeagle commented on #344
@ribrdb thanks for offering to lead this, could you email me alexeagle at google dot com so we can set up a communication mechanism? Don't want this to get lost among everything our team is doing.

[2019-02-22 17:17] alexeagle commented on #56
I think we have this now

[2019-02-22 17:17] #56 closed

[2019-02-22 17:17] alexeagle commented on #245
Fix is in #265

[2019-02-22 17:19] alexeagle commented on #292
Hey @qzmfranklin would you like to follow-up about your Bazel usage? @mgechev is keeping track of our adopters and their success. Email me alexeagle at google dot com if you'd like to have a wider conversation about the problems you're solving.

[2019-02-22 17:20] alexeagle commented on #254
We have started fixing sourcemaps in other contexts, by post-processing the diagnostics after the tool produces them based on paths it observed during compilation. Probably the right thing to do here too

[2019-02-22 17:22] alexeagle commented on #102
@appsforartists they are looking for you over in https://github.com/facebook/react/pull/12019

[2019-02-22 17:23] alexeagle commented on #216
es2015 devmode is now the default, it applies to nodejs inputs too

[2019-02-22 17:23] #216 closed

[2019-02-22 19:32] mgechev commented on #383
That's mostly to reduce the number of warnings we get internally. The code goes through golint.

[2019-02-24 15:43] gregmagolan commented on #252
@robisim74 No idea. But will re-open this so that this is not lost and take a look.

[2019-02-24 20:34] mprobst commented on #71
FYI I've looked into this a bit for unrelated reasons, and I believe #188 is not sufficient to make rules_typescript compatible with protobufjs 6.

It turns out v6 is a complete rewrite of protobufjs (see https://github.com/dcodeIO/protobuf.js/issues/485) (yay!). Notable changes for us are that there are no more getter & setter functions, messages are no longer constructor, and ByteBuffer is no lo

[2019-02-27 08:05] EvilAlexei opened #434 "How to implement aliases from compilerOptions.paths in bazel configs"
Hello everyone,

I could use some help with aliases :)
I'm trying to set up a bazel build for an angular project, and I have few aliases:

[code]
And in some modules and components i'm using this imports.
`import { SharedModule } from '@app/shared';`

I tried to implement this aliases by adding `tsconfig` to `ng_module`:

[code]

But still I got a lot of this kind of errors:
[code]

And I noticed

[2019-02-27 11:29] EvilAlexei commented on #434
A solution with `module_name` works fine, found issue inside my dependencies in bazel configs.

[2019-02-27 11:29] #434 closed

[2019-02-28 08:22] stefanobaghino-da commented on #201
I can't use `ts_proto_library`: we are using a different plugin to generate TypeScript typings and protobuf.ts is not a viable option (due to https://github.com/dcodeIO/protobuf.js/issues/1113). Is there a way to bundle arbitrary JavaScript source files and TypeScript typings so that they are accepted by `ts_library`? I tried using both `npm_package` and `js_library` but neither worked, both yield

[2019-02-28 09:41] stefanobaghino-da commented on #201
As a follow-up attempt, I tried to "trick" `ts_library` into thinking the output was indeed coming from a rule that has a `js` attribute. I'm fairly sure it's a safe assumption in my case, as I just want to use the rule to compile TypeScript and I'm not interested into serving this directly (it's a very simple library that targets Node.js that I want to compile and package).

I wrote my own rule:

[2019-03-06 17:03] laurentlb commented on #342
There are still some issues with `--incompatible_depset_is_not_iterable` and `--incompatible_disable_deprecated_attr_params`.

[2019-03-10 06:08] achew22 opened #436 "Devserver manifest is no longer observes visibility parameter passed in"
# 🐞 bug report

### Affected Rule

`ts_devserver_macro`

The issue is caused by the rule setting the visibility of the internal [`ts_devserver`](https://github.com/bazelbuild/rules_typescript/blob/master/internal/devserver/ts_devserver.bzl#L244
) rule to private.

### Is this a regression?

Yes. The regression is from commit https://github.com/bazelbuild/rules_typescript/commit/dffa7a22161a8917742

[2019-03-10 06:09] achew22 commented on #436
This is a P1 since there is a simple workaround. You can add

[code]

to your `.bazelrc`

[2019-03-20 17:45] thesayyn commented on #389
I'm running into this problem too. Running the compiled code through nodejs_binary rule just works fine although when I'm trying to run the compiled code without bazel it fails like yours.

I have a workaround but it is not efficient.

[2019-03-22 18:29] Ubehebe commented on #333
What is the resolution of this issue? Should rules_typescript users just not upgrade to TypeScript 3.2? That doesn't sound great.

The errors reported by @dehlak are real errors when tsc_wrapped is compiled with TypeScript 3.2. Specifically, `--strict` mode now implies `--strictBindCallApply`, which improves type-checking for `apply` and causes compilation errors at the two call sites in worker.ts

[2019-04-02 00:22] alexeagle commented on #436
Hey @achew22 could you include what is your use case for using the manifest file?
Another principled fix could be that we claim the manifest is a private API and change the docs to say so

[2019-04-02 06:53] achew22 commented on #436
Absolutely. I'm using the `.MF` to serve my resources in my devserver which is integrated with my server. This was the advised usage pattern for people who needed more than what devserver could provide. Is there a better way to do that now?

[2019-04-05 17:18] JaredNeil opened #441 "Latest releases are missing"
https://www.npmjs.com/package/@bazel/typescript shows many versions that are missing releases in this repo.
Are they just missing, or will there be no more releases in this repo?

[2019-04-08 18:38] #377 closed

[2019-04-17 12:11] wayou commented on #310
not yet.

[2019-04-25 16:04] laurentlb opened #443 "incompatible_depset_is_not_iterable"
According to Bazel CI, this command fails: `bazel build... --incompatible_depset_is_not_iterable`

[code]

Can you take a look at this?

[2019-05-06 20:34] Toxicable commented on #441
@bazel/typescript lives here now https://github.com/bazelbuild/rules_nodejs

[2019-05-06 23:16] #441 closed

[2019-05-07 04:36] qzmfranklin commented on #422
Thanks for the update. I think I have figured out how everything works by now - a bit late, but better than never. Even though this is a breaking change, I like it for a few reasons. Thanks.

[2019-05-08 04:05] gregmagolan commented on #381
Should be resolved by https://github.com/bazelbuild/rules_nodejs/pull/726. Will leave this open until this is verified after the next rules_nodejs release since CI does not test for this.

[2019-05-18 13:29] ashi009 opened #449 "Build worker fails due to "Cannot find type definition file for xxx""
# 🐞 bug report

### Affected Rule

The issue is caused by the rule:

`ts_library`

### Is this a regression?

Not sure.

### Description

When building a `ts_library` in worker mode, the build will fail if the rule has transitive @npm dependencies and their @types targets are not included as a direct dependency.

## 🔬 Minimal Reproduction

tsconfig.json
[code]

index.tsx
[code]

BUILD.bazel
[code]

[2019-05-20 12:19] laurentlb commented on #443
I think you need to update the dependency on rules_nodejs.

[2019-05-21 15:44] alexeagle commented on #449
Thanks this is a great bug report.

The problem is that TypeScript reads the @types directory and discovers all these typings files, because it has an aggressive and non-hermetic automatic discovery of ambient (non-imported) typings.
Under Bazel we only allow reads of files that are declared as inputs to an action, ensuring that the typescript compilation could be run remotely for example.

Our ty

[2019-05-21 16:02] alexeagle commented on #443
need to cut a rules_nodejs release to get that fix...

[2019-05-21 19:08] alexeagle opened #450 "Allow import paths to be workspace-relative"
In https://github.com/bazelbuild/rules_typescript/issues/77 we let you
`import {} from 'my_wksp/src/some_file'`

but in some existing codebases there's an assumption that TypeScript is configured such that you can

`import {} from 'src/some_file'`

rather than require these applications to change all their imports, maybe we could allow the ts_library rule to be configured to work.

[2019-05-24 14:53] alexeagle commented on #443
Okay should be fixed by 09f858aec16969660092cd83d62807247ab11f6e

[2019-05-24 14:53] #443 closed

[2019-05-24 15:33] alexeagle commented on #166
Without a way to reproduce this issue it's going to be hard to isolate and fix. Maybe we need more logging information when it happens, like a dump of the stderr from the node process at the other end of the pipe.

[2019-05-24 15:34] alexeagle commented on #254
replaced by #321

[2019-05-24 15:34] #254 closed

[2019-05-24 15:37] alexeagle commented on #29
ts_auto_deps is now released, which has very minimal support for BUILD file generation.
Will move this to rules_nodejs - @globegitter has a gazelle-based TS BUILD file generator but I'd like to see this reconciled with the library code in ts_auto_deps (both are written in Go so it should be possible)

[2019-05-25 17:43] METACEO commented on #175
@Toxicable - anything new regarding your work with Nestjs?.. or is there any progress elsewhere you're following?

[2019-05-29 13:15] thesayyn commented on #216
It is awkward that why I can't use a different module and target value in my tsconfig since I'm not depending on ts_devserver. the current options prevent me from enabling resolveJsonModule because it requires a commonjs & es2015 target.  Maybe we can add an option to let the advanced user fly freely.

[2019-05-29 14:39] laszlocsomor opened #452 "`//internal:test` is broken with Bazel's Windows native test wrapper"
# 🐞 bug report

### Affected Rule

 The issue is caused by the rule:

`//internal:test`, which is a `jasmine_node_test` from `@npm_bazel_jasmine//:index.bzl`

### Is this a regression?

Not really, I think it's always been there.

### Description

 A clear and concise description of the problem...

Bazel 0.27 will enable a feature by default: to use a new test execution mechanism on Windows. Curre

[2019-05-29 16:49] laurentlb commented on #443
No, there's still an error:

[code]

(cc @vladmos)

[2019-05-29 17:21] laurentlb commented on #443
Since tsconfig.bzl was changed, is it just a matter of updating inter-dependencies between rules_nodejs and rules_typescript, @alexeagle?

[2019-06-03 06:57] laszlocsomor commented on #452
Looks like this will NOT happen :(

[2019-06-10 03:03] sgammon commented on #344
@LStAmour, @LouisStAmour, @cherryland - i am also building a chrome extension, among other things, in typescript/closure. thank you for this thread, it offers a ton of useful help

@cherryland - i would be super interested in bazel rules to package extensions, if you are willing to share an invite to that repo. so far i package it manually using `pkg_tar` and a `gulpfile`, but of course this is fa

[2019-06-10 03:04] sgammon commented on #344
@LouisStAmour food for thought... we had requested that `elemental2` include generated Java files from Chrome API externs. this would allow chrome extensions to be coded in J2CL. i would be curious if this would help your use case, too

[2019-06-12 15:38] alexeagle commented on #452
Next time you can just ping me to unwind the silly sync sandwich between this repo and rules_nodejs

Sounds like the right thing is for us to pair a bit to remove the need for the wrapper macro on nodejs_test and nodejs_binary?

[2019-06-12 15:39] alexeagle commented on #383
We aren't actively working on the Go code here and I don't think we'll have time to set up more infra. LMK if you still want to do this

[2019-06-12 15:39] #383 closed

[2019-06-12 15:40] alexeagle commented on #382
Update: `ts_library` has the `compile_angular_templates` attribute but it's still not functional. Will pick it up again this quarter.

[2019-06-12 17:40] alexeagle commented on #310
Just need to include target `@npm//node_modules/lodash:lodash__umd` in the `ts_devserver#deps`

Behind the scenes, this uses browserify to create an UMD version of lodash which can be bundled in along with your sources.

[2019-06-12 17:40] #310 closed

[2019-06-12 17:42] alexeagle commented on #310
https://github.com/alexeagle/repro_ts_310 shows how it works

[2019-06-12 17:46] alexeagle commented on #263
I think the remaining issue here is resolved by https://github.com/bazelbuild/rules_nodejs/pull/827 which would make `bazel build` on any platform able to create a docker image with the linux nodejs binary included.

@olegsmetanin I think you have a separate question? the default output of `ts_library` is just `.d.ts` to make you select which JS mode you want (devmode/prodmode) so currently you ne

[2019-06-12 17:46] #263 closed

[2019-06-12 17:56] solomatov commented on #310
Thank you very much. It's a super important issue for me.

[2019-06-12 17:57] alexeagle commented on #300
I think this warning is WAI - bazel is just saying that it automatically restarted the worker because the worker's inputs changed.

This is an old issue, I'll close and if we see it again we'll open a new one

[2019-06-12 17:57] #300 closed

[2019-06-12 17:58] alexeagle commented on #245
was fixed I believe

[2019-06-12 17:58] #245 closed

[2019-06-14 17:01] #381 closed

[2019-06-17 19:03] #449 closed

[2019-06-19 15:05] loganmhb commented on #389
I'm running into this as well on version 0.31.1 of @bazel/typescript and rules_nodejs. I haven't been able to figure out exactly what's happening, but it seems like maybe both the typescript compiler and the nodejs module resolver are attempting to compensate for the ts_library module_root attribute, so it ends up added to the require path twice (hence the `src/src` in the example above, which is

[2019-06-19 22:48] ribrdb commented on #344
I have the initial version of my rules for closure compiler interop available at https://github.com/derivita/rules_ts_closure

This is a very early release. We've been using it for several months at my company, but we're still working on documentation and examples.
The goal is to eventually get this merged into rules_nodejs.

[2019-06-24 09:10] laszlocsomor commented on #452
Sure, and thanks.
I'll ping you again about this when you're not on vacation.

[2019-06-24 11:01] meteorcloudy opened #459 "Downloading rules_nodejs 0.32.0 fails"
Probably caused by https://github.com/bazelbuild/rules_typescript/commit/0efe29e17efee84f722326378b7585dac4f48784

https://buildkite.com/bazel/rules-typescript-typescript/builds/1535#_

[code]

[2019-06-24 11:01] meteorcloudy commented on #459
@gregmagolan

[2019-06-24 11:02] meteorcloudy commented on #459
This is also failing for rules_sass for the same reason

[2019-06-24 17:49] sgammon commented on #459
https://github.com/bazelbuild/rules_nodejs/archive/0.32.0.tar.gz works still, fyi

[2019-06-27 07:20] meteorcloudy commented on #459
@gregmagolan @alexeagle
This has been failing on Bazel CI for many days. Is anyone looking into a fix?
https://buildkite.com/bazel/rules-typescript-typescript/builds/1538

[2019-06-27 07:40] Toxicable commented on #459
This is the wrong repo for this issue, it should be in `rules_nodejs`
as for your issue: can you change to `0.32.2`

[2019-06-27 08:18] meteorcloudy commented on #459
I sent https://github.com/bazelbuild/rules_typescript/pull/460 to fix

[2019-06-27 17:56] gregmagolan commented on #459
Thanks @meteorcloudy. That release archive was taken down unintentionally when updating the release notes.

@alexeagle is back next week and can get definitely get this merged. @kyliau, are you able to get this merged today or tomorrow so green up Bazel's CI? Also https://github.com/bazelbuild/rules_sass/pull/92 for the same reason.

[2019-06-27 18:25] gregmagolan commented on #459
@meteorcloudy I regenerated the archive locally and ended up with the same sha256 (as it should be) so I put it back up on GitHub. https://github.com/bazelbuild/rules_nodejs/releases/download/0.32.0/rules_nodejs-0.32.0.tar.gz. Closing this although it won't hurt to land #460 and https://github.com/bazelbuild/rules_sass/pull/92 to get those repos up to the latest patch.

[2019-06-27 18:25] #459 closed

[2019-06-28 02:08] pauldraper opened #461 "Use the newly added dependency pruning"
Bazel has finally allowed Starlark access to dependency pruning, a feature that has previously been reserved only for native rules.

https://github.com/bazelbuild/bazel/commit/57363813d3c72129c61c35a2b03c3033b62cb49d

Implement `unused_inputs_list` for TypeScript compilation, thereby improving cache hits.

[2019-06-28 08:08] meteorcloudy commented on #459
Thanks for the fix!

[2019-07-06 15:46] thesayyn commented on #263
@olegsmetanin  @abqadeer
The workaround is creating another rule which basically picks up the es5_sources from ts_library targets.

[code]

usage:
[code]

Keep in mind this rule does not picks up  npm deps.

[2019-07-22 11:03] a-ignatov-parc opened #462 "Add ability to retrieve TS source files from ts_library and it's deps"
# 🚀 feature request

### Relevant Rules

- `ts_library` in `rules_nodejs`
- `ts_proto_library` in `rules_nodejs`
- `node_module_library` in `rules_nodejs` (?)

### Description

Add ability to retrieve TS sources from `ts_library` in case if a developer wants to use custom transpiler in addition to `devmode` that is used for type checking and nodejs interop.

For example, we use webpack for product

[2019-07-23 08:57] KrauseStefan commented on #104
Adding to the conversation
The DISPLAY environment variable does not exist on windows.
Having a way to easily switch between headless and normal from the command line is needed I think.

I currently have
[code]
When I run my test with `bazel run :test` I get a window that I can debug with
When I run with `bazel  test :test` the test just run headless and I get the results

Having a similar way to

[2019-07-25 23:25] alexeagle commented on #462
The typical way to do another action on the original TS files is to use an aspect.see https://docs.bazel.build/versions/master/skylark/aspects.html

This lets you write some bazel plugin code that visits the original `ts_library` targets but do something different with their inputs, and make whatever new outputs you like.

Angular needed to do exactly this: they need a third "flavor" of javascript

[2019-07-25 23:29] alexeagle opened #463 "Make allowActionInputReads optional"
This is causing a perf problem in Angular builds where we spend 1.9s during a compilation of //packages/core:core doing filesystem lookups.

I've been working on it today, here are some notes:

https://github.com/bazelbuild/rules_typescript/blob/master/internal/tsc_wrapped/compiler_host.ts#L121-L127 is where we let TypeScript read through to the disk which is slow.
We could implement directoryExis

[2019-07-28 11:25] a-ignatov-parc commented on #462
@alexeagle thanks! Sounds like exactly what I need. I'll give it a try 👍

[2019-07-28 11:59] a-ignatov-parc commented on #462
I was able to collect all source files from `ts_library` with aspect, so there is no need in this feature request anymore.

[2019-07-28 11:59] #462 closed

[2019-07-30 08:33] laszlocsomor commented on #452
Ping -- sorry for the long silence, I'm just now picking this up.

The test still fails:
- Windows 10
- Bazel 0.28.1
- `PATH=c:\git\mingw64\bin;c:\msys64\usr\bin;c:\src\bazel-releases\current;c:\windows\system32`
- Pass: `C:\src\tw-migrations\rules_typescript>bazel --ignore_all_rc_files --output_user_root=c:/b test --noincompatible_windows_native_test_wrapper --experimental_allow_incremental_repos

[2019-07-30 08:37] laszlocsomor commented on #452
Linking to https://github.com/bazelbuild/bazel/issues/6622, which is blocked by this

[2019-08-05 07:16] laszlocsomor commented on #452
ping

[2019-08-05 14:07] fortuna opened #464 "Get error error TS2307 even though dependency is direct"
# 🐞 bug report

### Affected Rule
The issue is caused by the rule: ts_library

### Is this a regression?
I don't know. I'm just converting my code to Bazel and this error is blocking me from making progress.

### Description
I'm getting the error:
[code]

However, my rule is already depending on ShadowsocksConfig:
[code]

There's no way to depend on `ShadowsocksConfig/shadowsocks_config.ts` direct

[2019-08-05 16:16] alexeagle commented on #464
The next bit of debugging would be to find out what is in there?

[code]

I think the issue is that `ts_library` filters `.d.ts` files from the deps to be the dependencies, but this package is "published" with `.ts` sources instead. It's atypical for npm packages to publish typescript sources.

I made a little repro with a ts_library named foo. Building with `bazel build -s` prints the subcommands

[2019-08-05 20:21] alexeagle commented on #452
dupe of https://github.com/bazelbuild/rules_nodejs/issues/947, let's fix them together

[2019-08-05 20:21] #452 closed

[2019-08-05 21:18] fortuna commented on #464
I think you are right: ShadowsocksConfig was badly configured. I switched to the #master version, which has an [main field in package.json](https://github.com/Jigsaw-Code/outline-shadowsocksconfig/blob/cf5a1ea13d8b3c2c612ed68ce7c4035b26006aef/package.json#L10) and it works.

Thanks for taking a look!

[2019-08-05 21:18] #464 closed

[2019-08-05 22:37] alexeagle commented on #461
Can you give a hint how you think this would be used? Would we detect that a certain input wasn't read in one compilation and then assume it won't be read in a following compilation either?

[2019-08-05 22:43] alexeagle commented on #314
I'm not sure how to repro this anymore, since we don't expose tsc_wrapped as sources
[code]

We do compile tsc_wrapped from build_bazel_rules_nodejs so I think there's at least one scenario where it does build from an external repo.

I'll close as obsolete.

[2019-08-05 22:43] #314 closed

[2019-08-05 22:44] alexeagle commented on #390
This has bitten a couple of ppl lately
@jelbourn @petebacondarwin

I think we should error if we emit something that *isn't* a module, unless there is some bit of syntax (to be proposed) which opts-in to being a script. @evmar any ideas? Maybe a tsetse check idea

[2019-08-05 22:52] JaredNeil commented on #314
Now that `tsc_wrapped` isn't exposed, can I no longer create my own `nodejs_binary` with extra `templated_args` (to increase max heap)?

[2019-08-05 22:57] alexeagle commented on #389
changing the `module_root` to `src/index` fixes it.

But I don't think we should close this issue because if the typechecker could find the module, we should make sure the runtime can too

[2019-08-05 22:58] alexeagle commented on #389
here's a modern repro for later reference https://github.com/alexeagle/repro_ts389

[2019-08-05 23:00] alexeagle commented on #375
let's roll it into #116

[2019-08-05 23:00] #375 closed

[2019-08-05 23:01] alexeagle commented on #116
In fixing this we should also test that it works with  https://github.com/stackb/rules_proto to generate protobuf clients. When we use commonjs_grpc_compile to generate our gRPC code

[2019-08-05 23:02] alexeagle commented on #338
With @bowenni having left the team, are we still working on hot module reloading?

[2019-08-06 06:59] laszlocsomor commented on #452
Thanks!

[2019-08-06 16:28] benlesh commented on #124
@alexeagle So where I'm at now, there's potential we could use something like this. We have a large chunk of our backend stuff building with bazel, but the frontend is still all webpack and npm scripts. The test framework is Jest, though. So that would be a sticking point.

[2019-08-10 14:57] alexeagle commented on #229
Working on a proposal whereby the default output of ts_library is whatever target/module settings from your tsconfig. We'd still have two bazel-controlled flavors (named modules for dev and ESM modules for bundling) so it's possible one ts_library would cause three compilation actions rather than two.

[2019-08-10 14:59] alexeagle commented on #281
Bazel is removing string-typed providers at some point so we'll have to replace this "typescript" struct with a proper JS provider. Design work is underway.

[2019-08-10 15:03] alexeagle commented on #243
rollup_bundle uses a label now so this ought to be fixed

[2019-08-10 15:03] #243 closed

[2019-08-10 15:07] alexeagle commented on #104
We already recommend the `--config=debug` pattern for other debugging scenarios in nodejs tests. Maybe we should expand this to trigger lots of debug scenarios.

[2019-08-10 15:14] alexeagle commented on #124
Jest support specifically has been written by @globegitter for another project, we have been frequently discussing upstreaming that lately.

[2019-08-12 22:32] JaredNeil commented on #314
Figured it out:
[code]

[2019-08-13 15:39] marcus-sa commented on #216
^ I agree.
I've gone back and thought about moving completely over to Bazel, since you can't even define the target for TypeScript...

[2019-08-13 21:24] Toxicable commented on #216
You can specify an override the default target with `devmodeTargetOverride` in your tsconfig
[code]
Also note that at runtime we use the `devmode` artifacts, which default to es2015 for nodejs, `prodmode` artifacts are used for web bundling targets.

[2019-08-13 23:04] alexeagle commented on #216
I'm thinking increasingly that ts_library should produce the constrained output formats when consumed by the provider, but the default output should just be the JS you asked for using the --target/--module you specify

[2019-08-14 00:15] thesayyn commented on #216
Also you can use googmodule option if you want commonjs modules instead of umd.

[2019-08-14 00:17] thesayyn commented on #216
@alexeagle is it possible to use commonjs modules with es6_module_mappings? I mean it will target commonjs modules and at the same time we will continue to use goodness of module_name?  If it possible I can work on that

[2019-08-14 16:27] alexeagle commented on #216
I don't see why we would support both our custom module mapping and commonjs. Either you're using our opinionated output because of its interop with downstream rules (UMDs are fine for node) or in the proposal above you would opt-out by writing whatever strange outputs from ts_library you like but then you can't expect anything downstream of that to understand what you did.

[2019-08-17 15:29] alexeagle commented on #173
I don't think we'll ever include this in our scope. If you want Bazel to be the package manager, you should use someone else's rule set.

[2019-08-17 15:29] #173 closed

[2019-08-17 15:32] alexeagle commented on #170
I think this is obsolete - all the ts_library settings should be up to the user, and Bazel's defaults should be the same as TypeScript's defaults.

[2019-08-17 15:32] #170 closed

[2019-08-17 15:33] alexeagle commented on #168
I'm not sure what to do, @achew22 do you think we should just transcribe your notes to the wiki or something? I don't want to lose them.

[2019-08-17 15:37] alexeagle commented on #154
`--preserve-symlinks` is rolled out as the default, so I think this is fixed (don't have time to verify, pls re-open if I'm wrong)

[2019-08-17 15:37] #154 closed

[2019-08-17 15:40] #153 closed

[2019-08-17 15:43] alexeagle commented on #148
We now include node_modules files as inputs to the ts.Program so I think this is fixed.

But we should totally remove the `allowActionInputReads` behavior to prove that everything is hermetic.

[2019-08-17 15:46] alexeagle commented on #144
to close the loop here - as @kellycampbell points out those warnings were annoying and not actionable; we later removed them.

[2019-08-17 15:46] #144 closed

[2019-08-21 23:01] DavidANeil commented on #216
https://github.com/bazelbuild/rules_nodejs/issues/122#issuecomment-368102668

Updating rules_typescript/rules_nodejs/rules_angular is a constant struggle for us as we have to maintain patches that disable these tsconfig overrides and give us the output we asked for in our `tsconfig.json`, and no output that we didn't ask for.  It would be nice to do what you suggested @alexeagle and also to get ri

[2019-08-21 23:14] alexeagle commented on #141
obsolete I think. will see if we get another report / repro

[2019-08-21 23:14] #141 closed

[2019-08-21 23:15] alexeagle commented on #103
This has gotten a lot better - @gregmagolan has improved the automatic translation we do on node_modules so it's more similar to how other bundlers work. It still requires manually adding `@npm//foo:foo__umd` target to your deps, but in theory this can be automated too.

Keeping this open for the missing documentation.

[2019-08-21 23:17] alexeagle commented on #102
re-purposing this issue to make an example for react

[2019-08-21 23:20] alexeagle commented on #85
Sorry this never got attention. I think this is obsolete since typescript is now delivered as `@bazel/typescript` npm package and doesn't need to be built from sources.

[2019-08-21 23:20] #85 closed

[2019-08-21 23:24] alexeagle commented on #75
will move to internal bug tracker

[2019-08-21 23:24] #75 closed

[2019-08-21 23:26] alexeagle commented on #71
I think the root cause here was that we mixed the dependencies of tsc_wrapped with those the user installed.
Ever since switching to an npm-delivered package `@bazel/typescript`, we can have whatever version of protobuf.js in our dependencies without regard for a different version used by the users code.
So this is obsolete.

[2019-08-21 23:26] #71 closed

[2019-08-21 23:27] alexeagle commented on #50
the `npm_package` and `web_package` rules should satisfy this use case.

[2019-08-21 23:27] #50 closed

[2019-08-21 23:29] alexeagle commented on #47
I think this has been addressed:
- quickstart is now just `npx @bazel/create` which stamps out these initial files
- we have cleaned up workspace dependencies, there is no longer anything like `ts_setup_dependencies` because we rely only on npm dependencies and packages
- have done a bunch of work over the docs

[2019-08-21 23:29] #47 closed

[2019-08-21 23:30] alexeagle commented on #35
we generate documentation from the starlark code now
https://github.com/bazelbuild/rules_nodejs/blob/master/docs/TypeScript.md

[2019-08-21 23:30] #35 closed

[2019-08-21 23:30] alexeagle commented on #12
Need to check if this is still reproducible.

[2019-12-19 04:31] bazel-flag-bot opened #472 "Flag --incompatible_no_implicit_file_export will break rules_typescript in Bazel 1.2.1"
Incompatible flag --incompatible_no_implicit_file_export will break rules_typescript once Bazel 1.2.1 is released.

Please see the following CI builds for more information:

* [:ubuntu: 18.04 (OpenJDK 11)](<a href="https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/342#e70f4b74-3f82-45fc-9524-417ed008cec2" target="_blank">:ubuntu: 18.04 (OpenJDK 11)</a>)
* [:ubuntu: 16.04 (OpenJDK

[2019-12-19 04:31] bazel-flag-bot opened #473 "Flag --incompatible_disable_target_provider_fields will break rules_typescript in Bazel 1.2.1"
Incompatible flag --incompatible_disable_target_provider_fields will break rules_typescript once Bazel 1.2.1 is released.

Please see the following CI builds for more information:

* [:ubuntu: 18.04 (OpenJDK 11)](<a href="https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/342#e70f4b74-3f82-45fc-9524-417ed008cec2" target="_blank">:ubuntu: 18.04 (OpenJDK 11)</a>)
* [:ubuntu: 16.04 (

[2019-12-19 04:32] bazel-flag-bot opened #474 "Flag --incompatible_load_cc_rules_from_bzl will break rules_typescript in Bazel 1.2.1"
Incompatible flag --incompatible_load_cc_rules_from_bzl will break rules_typescript once Bazel 1.2.1 is released.

Please see the following CI builds for more information:

* [:ubuntu: 18.04 (OpenJDK 11)](<a href="https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/342#e70f4b74-3f82-45fc-9524-417ed008cec2" target="_blank">:ubuntu: 18.04 (OpenJDK 11)</a>)
* [:ubuntu: 16.04 (OpenJDK

[2019-12-19 04:33] bazel-flag-bot opened #475 "Flag --incompatible_use_platforms_repo_for_constraints will break rules_typescript in Bazel 1.2.1"
Incompatible flag --incompatible_use_platforms_repo_for_constraints will break rules_typescript once Bazel 1.2.1 is released.

Please see the following CI builds for more information:

* [:ubuntu: 18.04 (OpenJDK 11)](<a href="https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/342#e70f4b74-3f82-45fc-9524-417ed008cec2" target="_blank">:ubuntu: 18.04 (OpenJDK 11)</a>)
* [:ubuntu: 16.

[2019-12-19 04:33] bazel-flag-bot opened #476 "Flag --incompatible_load_proto_rules_from_bzl will break rules_typescript in Bazel 1.2.1"
Incompatible flag --incompatible_load_proto_rules_from_bzl will break rules_typescript once Bazel 1.2.1 is released.

Please see the following CI builds for more information:

* [:ubuntu: 18.04 (OpenJDK 11)](<a href="https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/342#e70f4b74-3f82-45fc-9524-417ed008cec2" target="_blank">:ubuntu: 18.04 (OpenJDK 11)</a>)
* [:ubuntu: 16.04 (OpenJ

[2019-12-19 04:33] bazel-flag-bot opened #477 "Flag --incompatible_restrict_string_escapes will break rules_typescript in Bazel 1.2.1"
Incompatible flag --incompatible_restrict_string_escapes will break rules_typescript once Bazel 1.2.1 is released.

Please see the following CI builds for more information:

* [:ubuntu: 18.04 (OpenJDK 11)](<a href="https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/342#e70f4b74-3f82-45fc-9524-417ed008cec2" target="_blank">:ubuntu: 18.04 (OpenJDK 11)</a>)
* [:ubuntu: 16.04 (OpenJDK

[2019-12-26 21:28] bazel-flag-bot opened #478 "Flag --incompatible_no_implicit_file_export will break rules_typescript in a future Bazel release"
Incompatible flag --incompatible_no_implicit_file_export will be enabled by default in a future Bazel release [1], thus breaking rules_typescript.

The flag is documented here: https://github.com/bazelbuild/bazel/issues/10225

Please check the following CI builds for build and test results:

* <a href="https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/361#2acd6d4a-67cf-4b83-b777-

[2020-02-12 19:06] #472 closed

[2020-02-12 19:06] #473 closed

[2020-02-12 19:06] #474 closed

[2020-02-12 19:06] #475 closed

[2020-02-12 19:06] #476 closed

[2020-02-12 19:06] #477 closed

[2020-02-12 19:06] #478 closed

[2020-08-01 19:24] gonzojive commented on #187
This seems to have been resolved in a protocol buffer specific way, but I have another use case where `.d.ts` and `.js` files need to be used as a `ts_library` dependency. Is there a generic solution?

The `.d.ts` and `.js` files are mostly autogenerated, but they may have some manual edits.